h1 {
  color: black;
  font-family: verdana;
  font-size: 300%;
}

p {
  color: red;
  font-family: courier;
  font-size: 160%;
}

body {
  margin-left: 20px;
}

div.question,
div.answers {
  margin-top: 1rem;
}

label {
  font-family: Helvetica;
  display: block;
  margin: 10px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

div.question>code {
  display: block;
  white-space: pre-wrap;
  font-weight: bold;
  font-size: 1.2rem;
}

.row {
  margin-bottom: 0;
}

.input-field {
  margin-bottom: 0;
}

label {
  color: black;
}

body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#results {
  margin-top: 1rem;
}

.d-none {
  display: none;
}

#start-quiz {
  margin-top: 1rem;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact {
  margin-left: 0;
  left: 0;
  right: 0;
}

.header {
  font-size: 2rem;
  margin-top: 2rem;
}

.logo {
  display: flex;
  justify-content: center;
}

.quiz {
  margin-left: 2rem;
}